body {
	margin: 0;
	padding: 0;
	color: white;
	background: linear-gradient(
		-40deg,
		#05668d 40%,
		#00a896 40% 60%,
		#028090 60% 62%,
		#02c39a 62% 80%,
		#f0f3bd 80%
		);
	background-attachment: fixed;
	font-family: sans-serif;
	text-align: center;
}

#useless {
	border: solid 1px olivedrab;
	border-radius: 2px;
	min-width: 100px;
	min-height: 25px;
	color: white;
	background: transparent;
	font-size: 16px;
	outline: none;
	transition: 0.3s;
}

#useless:hover {
	min-width: 50%;
	min-height: 30px;
	background: olivedrab;
	letter-spacing: 2px;
}

#useless:active {
	transform: translateY(5px);
}