body {
	margin: 0;
	padding: 0;
	color: white;
	background: linear-gradient(
		-40deg,
		#2f3e46 40%,
		#52796f 40% 60%,
		#354f52 60% 62%,
		#84a98c 62% 80%,
		#cad2c5 80%
		);
	background-attachment: fixed;
	font-family: sans-serif;
}

main {
	text-align: center;
}

p.desc {
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	max-width: 60%;
}

hr {
	border: 10px solid;
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: linear-gradient(to right, transparent 10%, #354f52 50%, transparent 90%);
}

a {
	color: #708c9b;
}



#useless {
	border: solid 2px #05668d;
	border-radius: 2px;
	min-width: 100px;
	min-height: 25px;
	color: white;
	background: transparent;
	font-size: 16px;
	outline: none;
	transition: 0.3s;
}

#useless:hover {
	min-width: 50%;
	min-height: 30px;
	background: #05668d;
	letter-spacing: 2px;
}

#useless:active {
	transform: translateY(5px);
}


#timestamp.animate {
	animation: 0.2s ts-appear;
}


@keyframes ts-appear {
	from {transform: translateY(-10px); opacity: 0;}
	to {transform: translateY(0); opacity: 1;}
}


::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #354f52;
}

::-webkit-scrollbar-thumb {
	border: solid 1px #05668d;
	background: transparent;
}

::-webkit-scrollbar-thumb:hover {
	background: #05668d;
}